body {
  background-color: aliceblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.row {
  display: flex;
}

#container {
  width: 600px;
  height: 600px;
  margin-top: 20px;
  background-color: white;
}

button {
  color: white;
  background-color: #EA5160;
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}

button:hover {
  color: black;
  background-color: #e8ea51;
}